<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <h1>Accueil</h1>
      <p>le meneu article permet de voir tous les article de la classe</p>
    </div>
    <div class="swiper-slide">
      <h1>Gallerie</h1>
      <p>le meneu gallerie permet de voir toutes les gallerie photo de la classe</p>
    </div>
    <div class="swiper-slide">
      <h1>Date</h1>
      <p>le meneu date permet de voir toutes les dates de la classe</p>
      <button (click)="quit()" class="quitter">Quitter la présentation</button>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
